<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-12 d-flex justify-content-end mb-3">
                    <a [routerLink]="['/referrals']" class="btn btn-blue waves-effect waves-light float-right"><i
                        class="mdi mdi-keyboard-backspace"></i> Back</a>
                  </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h4 class="card-header" style="background-color: #e0e0e0;">Referrals</h4>
                            <div class="contact-details p-20 pb-2">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Referral Name:</label> <br> Test
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Referral Image:</label>
                                    <div class="gallery-wrapper mt-3">
                                        <ul>
                                            <li class="photo-container">
                                                <img src="assets/admin/assets/images/img-preview.png">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>