<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-right col-sm-5 ml-auto">
                            <div class="form-group row icon-field">
                                <label for="fname" class="col-sm-5 text-right control-label col-form-label">See daily
                                    status</label>
                                <div class="col-sm-7">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Select a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                            <mat-icon matDatepickerToggleIcon>
                                                keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>

                        <div class="accordion mt-3" id="accordionExample">
                            <div class="card m-b-0">
                                <div class="card-header" id="headingOne" style="background-color: #e0e0e0;">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <i class="m-r-5 mdi mdi-library-plus" aria-hidden="true"></i>
                                            <span>Cooking</span> <i href="#" class="text-warning fa fa-angle-up"></i>
                                        </a>

                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="m-t-20">
                                                    <h5>Dishes</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>30%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Carrying Groceries</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>45%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Standing While Cooking</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>65%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Moving Furniture</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>75%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Card End -->
                            <div class="card mb-0 mt-1">
                                <div class="card-header" id="headingTwo" style="background-color: #e0e0e0;">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="m-r-5 mdi mdi-library-plus" aria-hidden="true"></i>
                                            <span>Laundry</span> <i href="#" class="text-warning fa fa-angle-up"></i>
                                        </a>

                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div>
                                                    <h5>Carrying Laundry</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>30%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Picking up laundry off the floor</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>45%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Carrying laundry basket</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>65%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Transferring clothes from washer to dryer</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>75%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Card End -->

                            <div class="card mb-0 mt-1">
                                <div class="card-header" id="headingThree" style="background-color: #e0e0e0;">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            <i class="m-r-5 mdi mdi-library-plus" aria-hidden="true"></i>
                                            <span>Household Maintenance</span> <i href="#"
                                                class="text-warning fa fa-angle-up"></i>
                                        </a>

                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body contact-details">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div>
                                                    <h5>Interior Painting</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>30%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Small Repairs</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>45%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Renovations</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>65%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                                                </div>

                                                <div class="m-t-20">
                                                    <h5>Moving Furniture</h5>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>75%</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Card End -->
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>