<div class="main-content">
    <div class="container-fluid">
        <div class="row">
           
            <div class="col-12 d-flex justify-content-end mb-3">
                    <a [routerLink]="['/services']" class="btn btn-blue waves-effect waves-light float-right"><i
                        class="mdi mdi-keyboard-backspace"></i> Back</a>
                  </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h4 class="card-header" style="background-color: #e0e0e0;">Rehabilitation & Care Services
                            </h4>
                            <div class="contact-details p-20 pb-2">
                                <h5>Services Providers</h5>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Type of Service:</label> <br> Test
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Service Provider:</label> <br> Test
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Cost of the service:</label> <br> Test
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>