<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 d-flex justify-content-end mb-3">
        <a (click)="openDialog()" class="btn btn-blue waves-effect waves-light float-right text-white"><i class="mdi mdi-keyboard-backspace"></i>
          Add new Activity</a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <mat-accordion class="example-headers-align">

              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon> add_to_photos </mat-icon>
                    Cooking
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list dense>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>

                   </mat-list>              
                   <button mat-raised-button class="btn-blue text-white" (click)="openDialog1()">Add Acitviy</button>
              </mat-expansion-panel>


              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon> add_to_photos </mat-icon>
                    Laundry
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list dense>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>

                   </mat-list> 
                  

                   <button mat-raised-button class="btn-blue text-white" (click)="openDialog1()">Add Acitviy</button>
                   
  
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon> add_to_photos </mat-icon>
                    Household Mainenance
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list dense>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>
                    <mat-list-item> - Sub Activity <mat-icon color="warn"> cancel </mat-icon> </mat-list-item>

                   </mat-list> 
                   <button mat-raised-button class="btn-blue text-white" (click)="openDialog1()">Add Acitviy</button>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>