<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Users</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body table-responsive">
            <mat-form-field style="width: 150px;" appearance="outline" >
              <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search...">
            </mat-form-field>


            <table cdk-table [dataSource]="dataSource" matSort class="table table-hover">

              <!-- Name Column -->
              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Name </th>
                <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container cdkColumnDef="email">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Email </th>
                <td cdk-cell *cdkCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container cdkColumnDef="status">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Status </th>
                <td cdk-cell *cdkCellDef="let element"> {{element.status}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th cdk-header-cell *cdkHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </td>

              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
              <tr cdk-row click='loadData(row)' *cdkRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>