
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
       
        <div class="col-12 d-flex justify-content-end mb-3">
                <a [routerLink]="['/specials']" class="btn btn-blue waves-effect waves-light float-right"><i
                    class="mdi mdi-keyboard-backspace"></i> Back</a>
              </div>
    </div>
    <div class="row">
        <div class="col-12">
           <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h4 class="card-header" style="background-color: #e0e0e0;"><b>Out of pocket expenses</b></h4>
                        <div class="contact-details p-20 pb-2">
                            <div class="form-group">
                                <label>Receipt of medical bill etc.:</label>
                                <div class="gallery-wrapper mt-3">
                                    <ul>
                                        <li class="photo-container">
                                            <img src="assets/admin/assets/images/img-preview.png">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="card-header" style="background-color: #e0e0e0;">Care & rehabilitation expenses:</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Name:</label> <br> John Doe
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group icon-field">
                                            <label>Total:</label> <br> $17
                                        </div>
                                    </div>											
                                </div>
                            </div>
                        </div>
                        <h4 class="card-header" style="background-color: #e0e0e0;">Treatment Provider</h4>
                        <div class="contact-details p-20 pb-2">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Name:</label> <br> John Doe
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group icon-field">
                                            <label>Contact:</label> <br> Test
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group icon-field">
                                            <label>Address:</label> <br> Test
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group icon-field">
                                            <label>Type of Treatment:</label> <br> Test
                                        </div>
                                    </div>												
                                </div>
                            </div>
                        </div>
                        <h4 class="card-header" style="background-color: #e0e0e0;" >Medication</h4>
                        <div class="contact-details p-20 pb-2">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Name of Medication:</label> <br> Test
                                        </div>
                                    </div>												
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

        </div>

    </div>
  </div>
</div>
