<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-end mb-3">
        <a [routerLink]="['/accidental']" class="btn btn-blue waves-effect waves-light float-right"><i
            class="mdi mdi-keyboard-backspace"></i> Back</a>
      </div>
    </div>   
   
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                     
                    <mat-accordion class="example-headers-align">
                        <form [formGroup]="report_accident" (ngSubmit)="onSubmit()">
                        <mat-expansion-panel >

                          <mat-expansion-panel-header >
                            <mat-panel-title>
                                <mat-icon> add_to_photos </mat-icon>
                             Accident Details
                            </mat-panel-title>                           
                          </mat-expansion-panel-header>                      
                         
                          <mat-form-field>
                              <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Date of Accident">
                              <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>
                                  keyboard_arrow_down</mat-icon>
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field >
                                <input   formControlName="location" matInput  placeholder="Location">
                                <mat-icon matSuffix>room</mat-icon>
                              </mat-form-field> 

                        </mat-expansion-panel>
                        <mat-expansion-panel >
                            <mat-expansion-panel-header >
                              <mat-panel-title>
                                  <mat-icon> add_to_photos </mat-icon>
                                   Photo / Video
                              </mat-panel-title>                           
                            </mat-expansion-panel-header>                      
                            <mat-form-field >
                              <input matInput placeholder="Photo" >
                            </mat-form-field>
                        
                           
                          </mat-expansion-panel>

                          <mat-expansion-panel >
                              <mat-expansion-panel-header >
                                <mat-panel-title>
                                    <mat-icon> add_to_photos </mat-icon>
                                     Driver Information
                                </mat-panel-title>                           
                              </mat-expansion-panel-header>    

                                <mat-form-field >
                                  <input   formControlName="owner_name" matInput  placeholder="Owner Name">                                
                                </mat-form-field> 
                           
                              <mat-form-field >
                                  <input   formControlName="driver_name" matInput   placeholder="Driver Name">                                
                                </mat-form-field> 
                            
                              <mat-form-field >
                                  <input  formControlName="driver_license_no" matInput  placeholder="Driver's License Number">                                
                                </mat-form-field> 
                            
                              <mat-form-field >
                                  <input  formControlName="license_plate_no" matInput  placeholder="License Plate Number">                                
                                </mat-form-field> 
                          
                              <mat-form-field >
                                  <input formControlName="policy_no" matInput  placeholder="Policy Number">                                
                                </mat-form-field> 
                           
                              <mat-form-field >
                                  <input  formControlName="vehicle_make" matInput placeholder="Vehicle Make">                                
                                </mat-form-field> 
                           
                              <mat-form-field >
                                  <input   formControlName="vehicle_model" matInput placeholder="Vehicle Model">                                
                                </mat-form-field> 
                           
                              <mat-form-field >
                                  <input  formControlName="insurance_company" matInput placeholder="Insurance Company">                                
                                </mat-form-field> 
                            
                              <mat-form-field >
                                  <input  formControlName="claim_no" matInput placeholder="Claim Number">                                
                                </mat-form-field> 
                            </mat-expansion-panel>

                            <mat-expansion-panel >
                                <mat-expansion-panel-header >
                                  <mat-panel-title>
                                      <mat-icon> add_to_photos </mat-icon>
                                        Driver Information1
                                  </mat-panel-title>                           
                                </mat-expansion-panel-header>                      
                                
                                
                                <mat-form-field >
                                    <input   formControlName="owner_name" matInput  placeholder="Owner Name">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input   formControlName="driver_name" matInput   placeholder="Driver Name">                                
                                  </mat-form-field> 
                              
                                <mat-form-field >
                                    <input  formControlName="driver_license_no" matInput  placeholder="Driver's License Number">                                
                                  </mat-form-field> 
                              
                                <mat-form-field >
                                    <input  formControlName="license_plate_no" matInput  placeholder="License Plate Number">                                
                                  </mat-form-field> 
                            
                                <mat-form-field >
                                    <input formControlName="policy_no" matInput  placeholder="Policy Number">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input  formControlName="vehicle_make" matInput placeholder="Vehicle Make">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input   formControlName="vehicle_model" matInput placeholder="Vehicle Model">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input  formControlName="insurance_company" matInput placeholder="Insurance Company">                                
                                  </mat-form-field> 
                              
                                <mat-form-field >
                                    <input  formControlName="claim_no" matInput placeholder="Claim Number">                                
                                  </mat-form-field> 

                              </mat-expansion-panel>

                              <mat-expansion-panel >
                                  <mat-expansion-panel-header >
                                    <mat-panel-title>
                                        <mat-icon> add_to_photos </mat-icon>
                                         My Information
                                    </mat-panel-title>                           
                                  </mat-expansion-panel-header>                      
                                 
                                  <mat-form-field>
                                      <mat-label>Select</mat-label>
                                      <mat-select [(value)]="selectedValue">   
                                         <mat-option >None</mat-option>     
                                         <mat-option value="name of injured party">Name of Injured Party</mat-option>
                                       
                                     </mat-select>
                                   </mat-form-field>
                                  
                                  
                                <mat-form-field >
                                    <input   formControlName="owner_name" matInput  placeholder="Owner Name">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input   formControlName="driver_name" matInput   placeholder="Driver Name">                                
                                  </mat-form-field> 
                              
                                <mat-form-field >
                                    <input  formControlName="driver_license_no" matInput  placeholder="Driver's License Number">                                
                                  </mat-form-field> 
                              
                                <mat-form-field >
                                    <input  formControlName="license_plate_no" matInput  placeholder="License Plate Number">                                
                                  </mat-form-field> 
                            
                                <mat-form-field >
                                    <input formControlName="policy_no" matInput  placeholder="Policy Number">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input  formControlName="vehicle_make" matInput placeholder="Vehicle Make">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input   formControlName="vehicle_model" matInput placeholder="Vehicle Model">                                
                                  </mat-form-field> 
                             
                                <mat-form-field >
                                    <input  formControlName="insurance_company" matInput placeholder="Insurance Company">                                
                                  </mat-form-field> 
                              
                                <mat-form-field >
                                    <input  formControlName="claim_no" matInput placeholder="Claim Number">                                
                                  </mat-form-field> 

                                  <mat-form-field >
                                      <textarea   formControlName="detail_of_accident" matInput placeholder="Details of Accident"></textarea>                                
                                    </mat-form-field> 

                                    <mat-action-row>
                                       
                                        <button mat-raised-button   value="Submit"
                                          >Submit & Book Appointment</button>
                                      </mat-action-row>
                                </mat-expansion-panel>
                       </form>
                      </mat-accordion>

           </div>
        </div>
      </div>
   </div>


    
  </div>
</div>