<div class="main-content">

  <div class="container-fluid">

     
    <mat-horizontal-stepper [linear]="Linear" #stepper>

      <mat-step [stepControl]="add_appointment">
          <form [formGroup]="add_appointment" (ngSubmit)="onSubmit()">
        <div>
          <button mat-button matStepperNext class="btn btn-blue waves-effect waves-light float-right">Next</button>
          <br />
        </div>
        <ng-template matStepLabel>Select Area of Law</ng-template>
        <h4 class="card-title text-center">Which area of law do you need help with?</h4>
        <div class=" law-area select-tabs">
          <mat-grid-list cols="3" rowHeight="100px" gutterSize="10px">
            
            <mat-radio-group aria-label="Select an option" formControlName="area_of_law" >
               
              <mat-grid-tile>
                <mat-radio-button value="ICBC" appearance="outline">ICBC 1</mat-radio-button>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-radio-button value="INJURY">INJURY 1</mat-radio-button>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-radio-button value="FAMILY">FAMILY 1</mat-radio-button>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-radio-button value="EMPLOYMENT">EMPLOYMENT 1</mat-radio-button>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-radio-button value="ESTATE LITIGATION">ESTATE LITIGATION 1</mat-radio-button>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-radio-button value="GENERAL LITIGATION">GENERAL LITIGATION 1</mat-radio-button>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-radio-button value="OTHER">OTHER 1</mat-radio-button>
              </mat-grid-tile>
            </mat-radio-group>
           
          </mat-grid-list>
        </div>

        <div>
          <button mat-button matStepperNext class="btn btn-blue waves-effect waves-light float-right">
            Next</button>
        </div>
   </form>
      </mat-step>

      <mat-step [stepControl]="add_appointment1">
          <form [formGroup]="add_appointment1" (ngSubmit)="onSubmit()">
        <div>
          <button mat-button matStepperNext class="btn btn-blue waves-effect waves-light float-right">
            Next</button>
          <button mat-button matStepperPrevious class="btn btn-blue waves-effect waves-light float-right">
            Back</button> <br /> <br /> <br />
        </div>
        <ng-template matStepLabel>Select Client Type</ng-template>
        <h4 class="card-title text-center">Select Client Type</h4>
        <div class=" law-area select-tabs">
          <mat-grid-list cols="3" rowHeight="100px" gutterSize="10px">
            <mat-radio-group aria-label="Select an option" formControlName="client_type">
                
              <mat-grid-tile>
              </mat-grid-tile>

              <mat-grid-tile>
                <h5 class="text-center pt-3 pb-3">Are you a:</h5> <br />
                <mat-radio-button value="New Client">New Client</mat-radio-button>               
              </mat-grid-tile>

              <mat-grid-tile>
              </mat-grid-tile>

              <mat-grid-tile>
              </mat-grid-tile>

              <mat-grid-tile>
                <h5 class="text-center pt-3 pb-3">Or</h5> <br />
                <mat-radio-button value="Existing Client">Existing Client</mat-radio-button>
                
              </mat-grid-tile>

              <mat-grid-tile>
              </mat-grid-tile>
            </mat-radio-group>
           
          </mat-grid-list>
        </div>
        <div>
          <button mat-button matStepperNext class="btn btn-blue waves-effect waves-light float-right">Next</button>
          <button mat-button matStepperPrevious class="btn btn-blue waves-effect waves-light float-right">Back</button>
        </div>
      </form>
      </mat-step>

      <mat-step [stepControl]="add_appointment2">
          <form [formGroup]="add_appointment2" (ngSubmit)="onSubmit()">
        <div>
          <button mat-button matStepperNext class="btn btn-blue waves-effect waves-light float-right text-white"
          type="submit" [disabled]="add_appointment2.invalid"  value="Submit">Submit</button>
          <button mat-button matStepperPrevious class="btn btn-blue waves-effect waves-light float-right">Back</button>
          <br />
        </div>
        <ng-template matStepLabel>Enter Contact Detail</ng-template>
        <h4 class="card-title text-center">Contact Information</h4>
        <div>
          <mat-grid-list cols="3" rowHeight="100px" gutterSize="10px">


            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error>Enter your Name, more than three character</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" formControlName="dob">
                <mat-error>Select your Date Of Birth</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="tel">
                <mat-error>Enter your 10 digit Phone number</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>Enter Your Valid email id</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select [(value)]="city" formControlName="city">                    
                  <mat-option>None</mat-option>
                  <mat-option value="City1">City1</mat-option>
                  <mat-option value="City2">City2</mat-option>
                  <mat-option value="City2">City2</mat-option>
                </mat-select>
                <mat-error>Select City</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Province</mat-label>
                <mat-select [(value)]="province" formControlName="province">                   
                  <mat-option>None</mat-option>
                  <mat-option value="Province1">Province1</mat-option>
                  <mat-option value="Province2">Province2</mat-option>
                  <mat-option value="Province3">Province3</mat-option>
                </mat-select>
                <mat-error>Select Province</mat-error>

              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Preffered Office</mat-label>
               
                <mat-select [(value)]="preffered_office" formControlName="office">
                  <mat-option>None</mat-option>
                  <mat-option value="Office1">Office1</mat-option>
                  <mat-option value="Office2">Office2</mat-option>
                  <mat-option value="Office3">Office3</mat-option>
                </mat-select>
                <mat-error>Select Your Preffered Office</mat-error>

              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Contact Method" formControlName="contect_method">
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                
              </mat-grid-tile>

              <mat-grid-tile colspan="3">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Describe your legal issue" width="500px" formControlName="describe">
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                </mat-grid-tile>

          </mat-grid-list>
        </div>
        <div>
          <button mat-button matStepperNext class="btn btn-blue waves-effect waves-light float-right text-white" 
          type="submit" [disabled]="add_appointment2.invalid"  value="Submit">Submit</button>
          <button mat-button matStepperPrevious class="btn btn-blue waves-effect waves-light float-right">Back</button>
        </div>
      </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Thank you</ng-template>
        <div>
          <br /> <br /> <br />
        </div>
        <div class="tab-pane step-content text-center thanks">
          <i class="mdi mdi-check-circle text-success"></i>
          <h3>THANK YOU</h3>

          <p>Someone will be in touch soon!</p>

        </div>
       
      </mat-step>

    </mat-horizontal-stepper>
  
  </div>

</div>