
<div class="main-content">
  <div class="container-fluid">
      

      <div class="row">
        <div class="col-12">
             <div class="card">
                <div class="card-body">
                    <div class="text-right col-sm-5 ml-auto">
                            <div class="form-group row icon-field">
                                <label for="fname" class="col-sm-5 text-right control-label col-form-label">See daily status</label>
                                <div class="col-sm-7">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" 
                                        placeholder="Select a date" >
                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon matDatepickerToggleIcon>
                                                    keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion mt-3" id="accordionExample">
                            <div class="card m-b-0">
                                <div class="card-header" id="headingOne" style="background-color: #e0e0e0;">
                                  <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="m-r-5 mdi mdi-library-plus" aria-hidden="true"></i>
                                        <span>Neck Pain</span> <i href="#" class="text-warning fa fa-angle-up"></i>
                                    </a>
                                    
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">	
                                    <div class="contact-details">									
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group mb-5">
                                                    <label>Frequency of NECK PAIN?</label> <br> Constant
                                                </div>
                                            </div>										
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group mb-5">
                                                    <label>Intensity of the pain or discomfort:</label>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>0</span>
                                                        <div class="ml-auto">
                                                            <span>10</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Percentage of daily tasks and activities affected by NECK PAIN?</label>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>0</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!--/ Card End -->
                            <div class="card mb-0 mt-1">
                            <div class="card-header" id="headingTwo" style="background-color: #e0e0e0;">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="m-r-5 mdi mdi-library-plus" aria-hidden="true"></i>
                                    <span>Back Pain</span> <i href="#" class="text-warning fa fa-angle-up"></i>
                                </a>
                                
                              </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                              <div class="card-body">
                                <div class="contact-details">									
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group mb-5">
                                                    <label>Frequency of BACK PAIN?</label> <br> Constant
                                                </div>
                                            </div>										
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group mb-5">
                                                    <label>Intensity of the pain or discomfort:</label>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>0</span>
                                                        <div class="ml-auto">
                                                            <span>10</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Percentage of daily tasks and activities affected BACK PAIN?</label>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>0</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <!--/ Card End -->
                        
                        <div class="card mb-0 mt-1">
                            <div class="card-header" id="headingThree" style="background-color: #e0e0e0;">
                              <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="m-r-5 mdi mdi-library-plus" aria-hidden="true"></i>
                                    <span>Dizziness</span> <i href="#" class="text-warning fa fa-angle-up"></i>
                                </a>
                                
                              </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                              <div class="card-body contact-details">
                                <div class="contact-details">									
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group mb-5">
                                                    <label>Frequency of DIZIINESS?</label> <br> Constant
                                                </div>
                                            </div>										
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group mb-5">
                                                    <label>Intensity of the pain or discomfort:</label>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>0</span>
                                                        <div class="ml-auto">
                                                            <span>10</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Percentage of daily tasks and activities affected by DIZIINESS?</label>
                                                    <div class="d-flex no-block align-items-center">
                                                        <span>0</span>
                                                        <div class="ml-auto">
                                                            <span>100%</span>
                                                        </div>
                                                    </div>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                        <!--/ Card End -->
                        </div>
                    
                </div>
            </div>
        
        </div>
    </div>
  </div>
</div>