<div class="main-wrapper">
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center login-bg">
      <div class="auth-box">
  <div class="text-center p-t-20 p-b-20">
    <span class="db"><img src="assets/admin/assets/images/img-logo-splash.png" alt="logo" /></span>
  </div>


    <form class="form-horizontal m-t-20" [formGroup]="login" (ngSubmit)="onLogin()">
                  <div class="row">
                      <div class="col-12">
                            
                             <mat-form-field >
                              <input  type="text"  class="text-white"  formControlName="username" matInput >
                              <mat-placeholder class="placeholder">UserName</mat-placeholder>
                              <mat-error>This field is mandatory.</mat-error>
                              </mat-form-field>                      
                        
                             <mat-form-field  >
                             <input type="password"  class="text-white" formControlName="password" matInput >
                             <mat-placeholder class="placeholder">Password</mat-placeholder>
                             <mat-error>This field is mandatory.</mat-error>
                            </mat-form-field>
                 <div class="input-group mb-2 justify-content-end">
                             <a [routerLink]="['/forget_password']" class="text-white" id="to-recover">Forgot Password?</a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <div class="form-group">
                              <div class="p-t-10">      
                                <button mat-raised-button  type="submit"  [disabled]="login.invalid" value="Login"
                                class="btn btn-primary float-right">Login</button>
                              </div>
                          </div>
                      </div>
                  </div>
       </form>  
          
          
      </div>
  </div>
  
</div>
<script src="assets/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="assets/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="assets/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>