<div class="logo">
    <b class="logo-icon p-l-10">
        <img src="assets/admin/assets/images/angular2-logo-red.png"  alt="homepage" class="light-logo" />

    </b>
    <span class="logo-text">
        <img src="assets/admin/assets/images/" alt="homepage" />

    </span>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">dashboard</i>
                    <p>
                        <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" href="#Data_management" aria-expanded="false">
                <i class="material-icons">menu_book</i>
                <p>Data Management <b class="caret"></b> </p>
            </a>
            <div class="collapse" id="Data_management">
                <ul class="nav">

                    <li routerLinkActive="active" *ngFor="let menuItem1 of menuItems1"
                        class="{{menuItem1.class}} nav-item">
                        <a class="nav-link" [routerLink]="[menuItem1.path]">
                            <i class="material-icons">{{menuItem1.icon}}</i>
                            <p>{{menuItem1.title}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" href="#tracker_updates" aria-expanded="false">
                <i class="material-icons">library_books</i>
                <p>Tracker Updates <b class="caret"></b> </p>
            </a>
            <div class="collapse" id="tracker_updates">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let menuItem2 of menuItems2"
                        class="{{menuItem2.class}} nav-item">
                        <a class="nav-link" [routerLink]="[menuItem2.path]">
                            <i class="material-icons">{{menuItem2.icon}}</i>
                            <p>{{menuItem2.title}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" href="#client_data" aria-expanded="false">
                <i class="material-icons">sd_card</i>
                <p>Client Data <b class="caret"></b> </p>
            </a>
            <div class="collapse" id="client_data">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let menuItem3 of menuItems3"
                        class="{{menuItem3.class}} nav-item">
                        <a class="nav-link" [routerLink]="[menuItem3.path]">
                            <i class="material-icons">{{menuItem3.icon}}</i>
                            <p>{{menuItem3.title}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">
                <i class="material-icons">power_settings_new</i>
                <p>Logout</p>
            </a>
        </li>


    </ul>
</div>