<div class="main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-12 col-md-12">

        <div class="card">
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-12 d-flex justify-content-end mb-3">
                <a [routerLink]="['/accidental/report_accident']" type="button" class="btn btn-blue waves-effect waves-light float-right"
                  style="color:orange;">
                  <i class="mdi mdi-plus-box"></i>
                  Report New Accident
                </a>
              </div>
            </div>

            <mat-form-field style="width: 150px;" appearance="outline">
              <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search...">
            </mat-form-field>

            <table cdk-table [dataSource]="dataSource" matSort class="table table-hover">

              <!-- Name Column -->
              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Name </th>
                <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container cdkColumnDef="date_of_accident">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Date of Accident </th>
                <td cdk-cell *cdkCellDef="let element"> {{element.date_of_accident}} </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container cdkColumnDef="location">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Location </th>
                <td cdk-cell *cdkCellDef="let element"> {{element.location}} </td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th cdk-header-cell *cdkHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </td>

              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
              <tr cdk-row click='loadData(row)' *cdkRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>