<div class="modal-header bg-primery text-white">
  <h5 class="modal-title text-white" id="exampleModalLabel">Add New Sub Activity</h5>
  <button type="button" (click)="onNoClick()"  aria-label="Close">
  <span aria-hidden="true">×</span>
  </button>
  </div>
  
  <div class="modal-body">
  <div class="row"> 
  <div class="col-10">  
  <h5> Sub Activity Name </h5>  
  </div>
  </div>
  
  <div class="form-group">
  <mat-form-field class="example-full-width">
  <input matInput >
  </mat-form-field>
  </div>
  
  </div>
  <div class="modal-footer">
  
  <button mat-raised-button class="bg-clr-green text-white" >Add</button>
  <button mat-raised-button class="bg-clr-gray text-white" (click)="onNoClick()" >No</button>
  </div>