.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .bg-clr-green{
    background-color: #219864;
   } 
   
   .bg-clr-gray{
       background-color: #5A6268;
      } 

      .bg-clr-gray{
        background-color:#1A4DA3;
       }
    
