<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center login-bg">
        <div class="auth-box">
    <div class="text-center p-t-20 p-b-20">
      <span class="db"><img src="assets/admin/assets/images/img-logo-splash.png" alt="logo" /></span>
    </div>
            <div class="text-center">
                    <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
                </div>
   

             <form class="form-horizontal m-t-20" [formGroup]="forget_password" (ngSubmit)="onForget_password()">
                <div class="row">
                    <div class="col-12">
                          
                           <mat-form-field >
                            <input  type="text"  class="text-white"  formControlName="email" matInput >
                            <mat-placeholder class="placeholder">Email</mat-placeholder>
                            <mat-error>This field is mandatory.</mat-error>
                                </mat-form-field>                      
                      
                          
               <div class="input-group mb-2 justify-content-end">
                           <a [routerLink]="['/login']" class="text-white" id="to-recover">Back to Login</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-10">      
                              <button mat-raised-button  type="submit"  [disabled]="forget_password.invalid" value="forget_password"
                              class="btn btn-primary float-right">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
     </form> 
        </div>
    </div>
    
</div>

